[shell]
font_family = "JetBrainsMono Nerd Font"

[theme]
community_palette = "Catppuccin Mocha Mauve-Lavender"
mode = "dark"
source = "community"

[wallpaper.default]
path = "{{ .chezmoi.homeDir }}/.config/wallpapers/catppuccin_logo.png"
