format = """
$env_var\
$os\
$username\
$hostname\
$directory\
{{ if ne .chezmoi.os "windows" -}}
$git_branch\
$git_status\
{{ end -}}
$fill\
$time\
$cmd_duration\
$line_break\
$character"""

[os]
disabled = false
style = "#b4befe"  # lavender

[os.symbols]
Windows = "\uE62A"
Ubuntu = "\U000F0548"
SUSE = "\uF314"
Raspbian = "\U000F043F"
Mint = "\U000F04ED"
Macos = "\U000F0035"
Manjaro = "\uF312"
Linux = "\U000F033D"
Gentoo = "\U000F04E8"
Fedora = "\U000F04DB"
Alpine = "\uF300"
Amazon = "\uF270"
Android = "\uF17B"
AOSC = "\uF301"
Arch = "\U000F04C7"
Artix = "\U000F04C7"
CentOS = "\uF304"
Debian = "\U000F04DA"
Redhat = "\U000F111B"
RedHatEnterprise = "\U000F111B"

[username]
show_always = true
style_user = "#f5c2e7"  # pink
style_root = "#f38ba8"  # red
format = "[ $user]($style)"

[hostname]
ssh_only = true
style = "#cba6f7"  # mauve
format = "@[$hostname]($style) "

[directory]
style = "#a6e3a1"  # green
format = " [$path]($style)"
truncation_length = 3
truncate_to_repo = true
truncation_symbol = "…/"

[directory.substitutions]
"Documents" = "\U000F0219 "
"Downloads" = "\uF019 "
"Music" = "\U000F075A "
"Pictures" = "\uF03E "
"Developer" = "\U000F04CB "

[env_var.TMUX]
symbol = "\uF489 "
style = "#f9e2af"  # yellow
default = ""
format = "([$symbol]($style))"

{{ if ne .chezmoi.os "windows" -}}
[git_branch]
style = "#fab387"  # peach
format = " [$symbol$branch]($style)"
symbol = ""

[git_status]
style = "#f9e2af"  # yellow
format = "[$all_status$ahead_behind]($style)"
ahead = "⇡${count}"
behind = "⇣${count}"
diverged = "⇕⇡${ahead_count}⇣${behind_count}"
conflicted = "="
untracked = "?"
stashed = "$"
modified = "!"
staged = "+"
renamed = "»"
deleted = "✘"

{{ end -}}
[fill]
disabled = true
symbol = " "

[time]
disabled = false
style = "#89dceb"  # sky
format = "[ \uF017 $time]($style)"
time_format = "%R"

[cmd_duration]
style = "#94e2d5"  # teal
format = " [$duration]($style)"
min_time = 1000

[line_break]
disabled = false

[character]
success_symbol = "[❯](bold #a6e3a1)"  # green
error_symbol = "[❯](bold #f38ba8)"    # red
