[include]
    path = ~/.config/git/catppuccin.gitconfig

[core]
{{- if eq .chezmoi.os "windows" }}
    autocrlf = true
{{- else }}
    autocrlf = input
{{- end }}

{{ if lookPath "delta" -}}
pager = delta

[interactive]
    diffFilter = delta --color-only

[delta]
    features = catppuccin-mocha
    dark = true
    side-by-side = true
    line-numbers = true
    features = catppuccin-mocha

{{ end -}}
[merge]
    conflictstyle = zdiff3

{{ if lookPath "ec" -}}
# -- ec as your merge tool --
[merge]
    tool = ec
[mergetool "ec"]
    cmd = ec "$BASE" "$LOCAL" "$REMOTE" "$MERGED"
    trustExitCode = true
[mergetool]
    keepBackup = false
    prompt = false

{{ end -}}
{{ if lookPath "mergiraf" -}}
# -- mergiraf as a merge driver --
[merge "mergiraf"]
    name = mergiraf
    driver = mergiraf merge --git %O %A %B -s %S -x %X -y %Y -p %P -l %L

{{ end -}}
[pull]
    rebase = true

[init]
    defaultBranch = main

[credential]
    helper = manager

[diff]
	algorithm = histogram
