[include]
    path = ~/.config/git/catppuccin.gitconfig
    path = ~/.config/git/user.gitconfig

[core]
    pager = delta
    {{ if eq .chezmoi.os "windows" -}}
    autocrlf = true
    {{ else -}}
    autocrlf = input
    {{ end -}}


[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true  # use n and N to move between diff sections
    dark = true      # or light = true, or omit for auto-detection
    side-by-side = true
    paging = never
    diff-so-fancy = true
    features = catppuccin-mocha

[merge]
    conflictstyle = zdiff3

[pull]
    rebase = true

[init]
    defaultBranch = main

[credential]
    helper = manager
