[include]
    path = ~/.config/git/catppuccin.gitconfig
    path = ~/.config/git/user.gitconfig

[core]
    {{ if lookPath "delta" }}
    pager = delta
    {{ end }}
    {{ if eq .chezmoi.os "windows" -}}
    autocrlf = true
    {{ else -}}
    autocrlf = input
    {{ end -}}


{{ if lookPath "delta" }}
[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true  # use n and N to move between diff sections
    dark = true      # or light = true, or omit for auto-detection
    side-by-side = true
    features = catppuccin-mocha
{{ end }}

[merge]
    conflictstyle = zdiff3

[pull]
    rebase = true

[init]
    defaultBranch = main

[credential]
    helper = manager
